---
import Button from "../../../../shared/ui/button/button.astro";
import Image from "astro/components/Image.astro";

import TablerWheelIcon from "/public/images/tabler-wheel-icon.svg";

interface Props {
    title: string;
    price: string;
    descriptors: string[];
}

const { title, price, descriptors } = Astro.props;
---

<div
    class="w-full min-h-[610px] p-[20px] sm:p-[24px] md:p-[28px] flex flex-col items-start border border-secondary-dark rounded-[12px] relative group hover:shadow-[0px_4px_128px_0px_#50C87840] transition-shadow duration-300 ease-in-out hover:border-primary"
>
    <span
        class="absolute inset-0 flex items-center justify-center text-[128px] sm:text-[148px] md:text-[168px] font-[400] text-[#50C87808] z-0 leading-[128px] sm:leading-[148px] md:leading-[168px] text-center"
        style={{ fontFamily: "Walk Da Walk One, sans-serif" }}
    >
        WRAP STUDIO
    </span>

    <span
        class="text-white font-gotham font-[400] text-[22px] sm:text-[28px] md:text-[32px] leading-[37px] mb-4 group group-hover:text-primary transition-colors duration-300 ease-in-out"
    >
        {`${title}`.toUpperCase()}
    </span>

    <div class="flex-grow flex flex-col gap-4">
        {
            descriptors.map((descriptor) => (
                <div class="flex items-start gap-3">
                    <Image
                        src={TablerWheelIcon}
                        alt="Tabler Wheel Icon"
                        class="self-start shrink-0"
                    />
                    <span class="text-white font-mont-alter font-[600] text-[16px] sm:text-[18px] md:text-[20px] leading-[37px] -mt-2 whitespace-pre-line">
                        {descriptor}
                    </span>
                </div>
            ))
        }
    </div>

    <div
        class="mt-auto flex flex-row items-center flex-wrap justify-between w-full gap-2"
    >
        <span
            class="text-primary font-[400] text-[50px] sm:text-[64px] md:text-[72px]"
            style={{ fontFamily: "Walk Da Walk One, sans-serif" }}
        >
            {price}
        </span>
        <Button
            variant="outline"
            text={`заказать`.toUpperCase()}
            width="w-[150px] sm:w-[180px] md:w-[200px]"
            height="h-[40px] sm:h-[45px] md:h-[50px]"
        />
    </div>
</div>
