
@import url('https://fonts.cdnfonts.com/css/walk-da-walk-one');

// gotham

@font-face {
    font-family: 'Gotham Pro';
    src: url('/public/fonts/Gotham Pro/gothampro_light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('/public/fonts/Gotham Pro/gothampro.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('/public/fonts/Gotham Pro/gothampro_medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('/public/fonts/Gotham Pro/gothampro_bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}



// alter

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('/public/fonts/Montserrat Alternates/MontserratAlternates-ExtraLight.ttf') format('truetype');
    font-style: normal;
    font-weight: 200;  /* Extra Light */
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('/public/fonts/Montserrat Alternates/MontserratAlternates-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;  
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('/public/fonts/Montserrat Alternates/MontserratAlternates-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;  
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('/public/fonts/Montserrat Alternates/MontserratAlternates-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;  
    font-display: swap;
}

