---
import StarIcon from "/public/images/star-icon.svg";

interface Props {
    label: string;
}

const { label } = Astro.props;
---

<div class="flex flex-row items-center gap-4">
    <img src={StarIcon.src} alt="Star Icon" />
    <span
        class="font-mont-alter text-white font-[500] lg:text-[16px] xl:text-[20px] 2xl:text-[24px] lg:leading-[24px] xl:leading-[32px] 2xl:leading-[40px] italic"
    >
        {label}
    </span>
</div>
