---
import Layout from "../layouts/Layout.astro";

import CarSwiper from "../features/about/ui/car-swiper/car-swiper";
import Menu from "../features/navigation/ui/menu/menu";
import { Header } from "../features/navigation/ui/header/header";
import { FormPopup } from "@/features/contacts/ui/form-popup/form-popup";
import { ServiceFormPopup } from "@/features/services/ui/service-form-popup/service-form-popup";
import { ContentPopup } from "@/shared/ui/content-popup/content-popup";

//sections
import HeroSection from "../widgets/hero/hero-section.astro";
import ServicesSection from "../widgets/services/services-section.astro";
import AboutSection from "../widgets/about/about-section.astro";
import PriceSection from "../widgets/price/price-section.astro";
import PortfolioSection from "../widgets/portfolio/portfolio-section.astro";
import ContactsSection from "../widgets/contacts/contacts-section.astro";
---

<Layout>
	<div class="relative w-full overflow-x-hidden">
		<Header client:idle />
		<HeroSection />
		<div class="bg-[#080808]">
			<ServicesSection />
			<AboutSection />
			<CarSwiper client:idle />
			<PriceSection />
			<PortfolioSection />
			<ContactsSection />
		</div>
	</div>
	<Menu client:idle />
	<FormPopup client:idle />
	<ServiceFormPopup client:idle />
	<ContentPopup client:idle />
</Layout>
