---
import "../styles/fonts.css";
import "../styles/global.css";
---

<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>
			Wrap Studio - Профессиональная оклейка автомобилей в Павлодаре
		</title>
		<meta
			name="title"
			content="Wrap Studio - Профессиональная оклейка автомобилей в Павлодаре"
		/>
		<meta
			name="description"
			content="Профессиональная оклейка автомобилей, защита кузова, тонировка и детейлинг в Павлодаре. Качественные материалы и опытные мастера."
		/>
		<meta
			name="keywords"
			content="оклейка автомобилей, защита кузова, тонировка, детейлинг, Павлодаре, wrap studio"
		/>

		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://wrapstudio.kz/" />
		<meta
			property="og:title"
			content="Wrap Studio - Профессиональная оклейка автомобилей в Павлодаре"
		/>
		<meta
			property="og:description"
			content="Профессиональная оклейка автомобилей, защита кузова, тонировка и детейлинг в Павлодаре. Качественные материалы и опытные мастера."
		/>
		<meta
			property="og:image"
			content="https://wrapstudio.kz/og-image.jpg"
		/>

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:url" content="https://wrapstudio.kz/" />
		<meta
			name="twitter:title"
			content="Wrap Studio - Профессиональная оклейка автомобилей в Павлодаре"
		/>
		<meta
			name="twitter:description"
			content="Профессиональная оклейка автомобилей, защита кузова, тонировка и детейлинг в Павлодаре. Качественные материалы и опытные мастера."
		/>
		<meta
			name="twitter:image"
			content="https://wrapstudio.kz/og-image.jpg"
		/>

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png"
		/>

		<link rel="manifest" href="/manifest.json" />
		<meta name="theme-color" content="#080808" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			rel="preconnect"
			href="https://fonts.cdnfonts.com/css/walk-da-walk-one"
			crossorigin
		/>
		<link rel="canonical" href="https://wrapstudio.kz/" />
	</head>
	<body class="mx-auto antialiased">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
