---
import Heading from "../../shared/ui/heading/heading.astro";
import Paragraph from "../../shared/ui/paragraph/paragraph.astro";
import ServiceCard from "../../features/services/ui/service-card/service-card.astro";

import { services } from "../../features/services/model/services";
---

<section
    class="max-w-[90%] lg:max-w-[80%] 3xl:max-w-[1560px] 4xl:max-w-[1800px] flex items-center flex-col mx-auto pt-[64px]"
>
    <Heading level={2} text="// Услуги" />
    <Paragraph
        text="Все, что нужно для защиты и безупречного вида вашего автомобиля."
        variant="main"
        className="mt-8 mb-8 sm:w-[80%] md:w-[60%]"
    />
    {
        services.map((service, index) => (
            <div class="flex flex-col items-center mb-8 last:mb-0 w-full">
                <ServiceCard {...service} index={index} />
            </div>
        ))
    }
</section>
